@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto+Mono&display=swap&family=Oswald:wght@300;600&family=Lobster&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #151513;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  min-height: 100dvh;
}

.MuiPagination-ul li div {
  color: white;
}

.MuiPagination-ul li button {
  color: white;
}

.link-color:hover {
  color: #005866;
}

.navbar {
  background-color: #000000;
  border-bottom: 1px solid #000000;
}

@media (max-width: 599px) {
  .navbar {
    position: relative;
    max-width: 100vw;
    padding: 1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .normal-nav {
    display: none;
  }

  .logo-title {
    display: flex;
    column-gap: 0.5rem;
    justify-content: space-between;
  }

  .logo {
    font-size: 1.25rem;
    cursor: pointer;
  }
  .title {
    color: aliceblue;
    font-family: "Lobster", cursive;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .search-bar {
    text-align: center;
    padding: 1vw;
    width: 5rem;
    border-radius: 1rem;
    border: 0.1rem solid #005866;
    outline-style: none;
    cursor: pointer;
    font-size: 0.75rem;
  }

  .mobile-nav {
    display: grid;
    place-items: center;
    justify-content: center;
  }

  #navbar-mobile {
    width: 45vw;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: black;
    transition: width 1s ease;
  }

  #navbar-mobile-closed {
    width: 0;
    height: 0;
  }

  .user-info {
    margin-top: 2rem;
    display: flex;
    column-gap: 1rem;
    color: white;
    text-align: center;
  }

  .navbar-content {
    margin-top: 2rem;
    display: grid;
    row-gap: 0.75rem;
  }

  .logout {
    position: relative;
    display: flex;
    color: white;
    top: 40vh;
    column-gap: 0.5rem;
  }

  .bi-box-arrow-right {
    margin-top: 4px;
    display: grid;
    place-items: center;
  }

  .navbar .movies {
    position: absolute;
    font-size: 1rem;
    top: 7vh;
    right: 32vw;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
  }

  .navbar .tvshows {
    position: absolute;
    font-size: 1rem;
    top: 7vh;
    right: 13vw;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
  }

  .movies {
    position: absolute;
    font-size: 1rem;
    top: 6.75vh;
    right: 31.5vw;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
  }

  .tvshows {
    position: absolute;
    font-size: 1rem;
    top: 6.75vh;
    right: 13.5vw;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
  }

  .login {
    position: absolute;
    font-size: 1rem;
    top: 7vh;
    right: 2vw;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
  }

  .navbar .avatar {
    position: relative;
    width: 5vw;
    height: 5vw;
    bottom: 5vh;
  }

  #mobile-avatar {
    width: 1.75rem;
    height: 1.75rem;
  }

  .wl-link {
    text-decoration: none;
    color: black;
  }

  .wl-link:hover {
    color: black;
  }

  .button {
    background-color: #005866;
    color: #ffffff;
  }

  .movies:hover,
  .title:hover,
  .tvshows:hover,
  .login:hover,
  .avatar:hover {
    color: #005866;
    opacity: 0.8;
    transition: 0.5s;
  }

  .pagination {
    position: relative;
    margin-top: 2.5vw;
    left: 17.5%;
    color: white;
  }

  /* Detail-view */

  .d-title {
    font-size: 1.5rem;
    color: #ffffff;
  }

  .rating-details {
    display: none;
  }

  .rating-details-mobile {
    color: white;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
  }

  .d-rating {
    display: none;
  }

  .bhub-rating-details {
    width: max-content;
    text-align: center;
  }

  .bhub-rating {
    display: flex;
    text-align: center;
    column-gap: 0.5rem;
  }

  .d-rate {
    color: #005866;
    margin-top: 0.15rem;
    font-size: 1.25rem;
  }

  .d-ratingno {
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: bolder;
  }

  .total-score {
    display: none;
  }

  .total-vote {
    color: #d8d2d2;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .u-rating {
    display: none;
  }

  .u-rate {
    color: #005866;
  }

  .rate {
    color: #005866;
    font-size: 1rem;
    font-weight: 700;
    outline-style: none;
    background-color: #151513;
    border: none;
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.1rem;
  }

  .user-rating {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }

  .d-info {
    color: #d8d2d2;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 0.25rem;
  }

  .inactive {
    display: none;
  }

  .active {
    display: flex;
  }

  .rating-form {
    position: absolute;
    background-color: #3d3d3b;
    color: #ffffff;
    width: 100vw;
    height: 50vh;
    top: 40vh;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    z-index: 1;
  }

  .clear {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
  }

  .rate-this {
    position: absolute;
    top: 5vh;
    color: white;
    font-size: 1.25rem;
  }

  .rating-title {
    position: absolute;
    top: 12.5vh;
    color: white;
    font-size: 1.5rem;
  }

  .rating-value {
    position: absolute;
    top: 20vh;
    width: 75vw;
    height: 10vh;
    color: #005866;
  }

  .rate-button {
    position: absolute;
    top: 5vh;
    width: 10vw;
    height: 7.5vh;
  }

  .poster-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }

  .poster {
    width: 52.5%;
  }
  .poster-img {
    width: 100%;
  }

  .similar-genre-area {
    width: 45%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .similar-genre-image {
    width: 15vw;
    height: 10vw;
  }

  .d-genres {
    margin-top: 1rem;
  }

  .mobile-add-watchlist {
    margin-top: 1.75rem;
    display: flex;
    justify-content: space-between;
  }

  .d-details {
    color: white;
    margin-top: 1rem;
  }

  hr {
    color: white;
  }

  .director-info {
    display: flex;
    align-items: center;
    gap: 2vw;
  }

  .cast {
    display: flex;
    justify-content: space-between;
  }

  .cast-info {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .details-header {
    font-size: 1.25rem;
    color: white;
    font-weight: 700;
  }

  .details-name {
    color: white;
    font-weight: 500;
  }

  .d-reviews {
    display: grid;
    row-gap: 5vw;
    width: 95vw;
  }

  .review-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .review-form textarea {
    width: 65vw;
    height: 5vh;
    outline-style: none;
  }

  .review-card {
    position: relative;
    background-color: black;
    width: 95vw;
    padding: 1.5vw 3.5vw;
  }

  .author-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5vw;
    width: 85vw;
    height: 15vh;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .author-avatar {
    width: 5vw;
    height: 5vw;
  }

  .review-content {
    color: white;
    font-weight: 500;
    position: relative;
    width: 85vw;
  }

  /*Watchlist*/

  .watchlist-star {
    position: absolute;
    right: 10vw;
    top: 2vw;
    font-size: 1.5rem;
    color: #005866;
  }

  .watchlist-rating {
    position: absolute;
    right: 2.5vw;
    top: 1.5vw;
    font-size: 1.25rem;
  }

  .watchlist-rating-total {
    display: none;
  }

  .watchlist-box {
    position: absolute;
    top: 15vh;
    width: 100vw;
    left: 0;
  }

  .watchlist-title {
    display: flex;
    flex-wrap: wrap;
    width: 57.5vw;
    height: 15vw;
    font-size: 1.25rem;
    overflow: hidden;
  }

  .watchlist-info {
    position: relative;
    top: 2.5vw;
    display: flex;
    width: 75vw;
    min-height: 4.5vh;
  }

  .watchlist-header {
    height: 10vh;
    display: grid;
    place-items: center;
    background-color: #000000;
    color: white;
  }

  .watchlist-card {
    position: relative;
    background-color: #d8d2d2;
    width: 100vw;
    min-height: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .watchlist-card img {
    position: relative;
    bottom: 25.5vw;
    width: 20vw;
    height: 35vw;
  }

  .watchlist-card-info {
    width: 75vw;
    min-height: 67.5vw;
    position: absolute;
    right: 2.5vw;
    top: 5vw;
  }

  .watchlist-overview {
    width: 75vw;
    height: 40vw;
    position: relative;
    left: 5vw;
    top: 5vw;
    overflow: hidden;
  }

  .w-remove-button {
    width: 6vw;
    position: absolute;
    top: 37.5vw;
    right: 3vw;
  }

  /* Top Rated */
  .top-rated {
    display: grid;
    position: relative;
    place-items: center;
    width: 100vw;
  }

  .top-rated-movies-box,
  .top-rated-shows-box {
    display: grid;
    place-items: center;
    color: white;
    font-family: "Lobster", cursive;
    font-size: 2rem;
    margin-top: 7.5vw;
  }

  .top-rated-movies,
  .top-rated-shows {
    margin-top: 7.5vw;
  }

  .top-rated-card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Login */

  .login-box {
    display: grid;
    place-items: center;
    width: 100vw;
    overflow: hidden;
  }

  .login-card {
    padding: 1.5rem;
    display: grid;
    margin-top: 10rem;
    row-gap: 2.5rem;
    place-items: center;
    box-shadow: 144px 144px 144px 144px rgba(18, 103, 135, 1);
  }

  .login-title {
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-family: "Lobster", cursive;
  }

  .button-box {
    display: grid;
    place-items: center;
    row-gap: 2.5vh;
  }

  /* Footer */

  footer {
    display: grid;
    place-items: center;
    bottom: 0;
    margin-top: 10vw;
    width: 100vw;
    min-height: 40vw;
    background-color: #000000;
    color: white;
  }

  .social-media {
    width: 45vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.25rem;
  }

  .support {
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
  }

  .support-logo {
    width: 15vw;
    height: 15vw;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .navbar {
    position: relative;
    width: 100vw;
    padding: 2.5rem 1rem;
    height: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .normal-nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
  }

  .mobile-nav {
    display: none;
  }

  #navbar-mobile-closed {
    width: 0;
    height: 0;
  }

  .logo-title {
    display: flex;
    column-gap: 0.5rem;
    justify-content: space-between;
  }

  .logo {
    font-size: 2.55rem;
    cursor: pointer;
  }

  .title {
    color: aliceblue;
    font-family: "Lobster", cursive;
    font-size: 2.55rem;
    cursor: pointer;
    overflow: hidden;
  }

  .search-bar {
    text-align: center;
    padding: 1vh 0;
    width: 25vw;
    border-radius: 1rem;
    border: 0.1rem solid #005866;
    outline-style: none;
    cursor: pointer;
  }

  .search-bar:hover {
    border: 0.15rem solid #005866;
    transition: 0.1s;
  }

  #mobile-avatar {
    display: none;
  }

  #navbar-mobile-closed {
    width: 0;
    height: 0;
  }

  .wl-link {
    text-decoration: none;
    color: black;
  }

  .wl-link:hover {
    color: black;
  }

  .button {
    background-color: #005866;
    color: #ffffff;
  }

  .movies:hover,
  .title:hover,
  .tvshows:hover,
  .login:hover,
  .avatar:hover {
    color: #005866;
    opacity: 0.8;
    transition: 0.5s;
  }

  .pagination {
    position: relative;
    margin-top: 2.5vw;
    left: 30%;
    color: white;
  }

  /* Detail-view */

  .rating-details-mobile {
    display: none;
  }

  .rating-details {
    display: flex;
    justify-content: space-between;
    min-width: 40vw;
  }

  .bhub-rating-details {
    display: grid;
    place-items: center;
    text-align: center;
  }

  .bhub-rating {
    display: flex;
    text-align: center;
    column-gap: 0.5rem;
  }

  .d-title {
    font-size: 2.1rem;
    color: #ffffff;
  }

  .d-rating {
    color: #ffffff;
    font-size: 1.75rem;
  }

  .d-rate {
    font-size: 2rem;
    color: #005866;
  }

  .d-ratingno {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .total-score {
    color: #d8d2d2;
    font-size: 1.25rem;
  }

  .total-vote {
    color: #d8d2d2;
    font-size: 1rem;
  }

  .u-rating {
    color: #ffffff;
    font-size: 1.75rem;
  }

  .u-rate {
    color: #005866;
  }

  .rate {
    color: #005866;
    font-size: 1.75rem;
    font-weight: 700;
    outline-style: none;
    background-color: #151513;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .user-rating {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }

  .d-info {
    color: #d8d2d2;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  .inactive {
    display: none;
  }

  .active {
    display: flex;
  }

  .rating-form {
    background-color: #3d3d3b;
    color: #ffffff;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    z-index: 1;
  }

  .clear {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
  }

  .rate-this {
    position: absolute;
    top: 5vh;
    color: white;
    font-size: 1.25rem;
  }

  .rating-title {
    position: absolute;
    top: 12.5vh;
    color: white;
    font-size: 1.5rem;
  }

  .rating-value {
    position: absolute;
    top: 20vh;
    width: 75vw;
    height: 10vh;
    color: #005866;
  }

  .rate-button {
    position: absolute;
    top: 5vh;
    width: 10vw;
    height: 7.5vh;
  }

  .poster-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .poster-img {
    width: 42.5vw;
    height: 32.5vw;
  }

  .similar-genre-area {
    width: 45vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .similar-genre-image {
    width: 15vw;
    height: 10vw;
  }

  .big-screen-watchlist {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }

  hr {
    color: white;
  }

  .d-details {
    color: white;
  }

  .details-header {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .details-name {
    font-weight: 500;
  }

  .director-info {
    display: flex;
    align-items: center;
    gap: 2vw;
  }

  .cast {
    display: flex;
    justify-content: space-between;
  }

  .cast-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
  }

  .reviews-box {
    width: 100%;
  }

  .d-reviews {
    display: grid;
    place-items: center;
    row-gap: 2.5vw;
  }

  .review-form {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .review-form textarea {
    width: 75vw;
    height: 5vh;
    outline-style: none;
  }

  .review-card {
    background-color: black;
    width: 90vw;
    padding: 1vw 3.5vw;
  }

  .author-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5vw;
    width: 100vw;
    height: 15vh;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .author-avatar {
    width: 7.5vw;
    height: 7.5vw;
  }

  .review-content {
    color: white;
    font-weight: 500;
    position: relative;
    width: 85vw;
  }

  /*Watchlist*/

  .watchlist-star {
    font-size: 1.5rem;
    color: #005866;
  }

  .watchlist-rating {
    font-size: 1.25rem;
  }

  .watchlist-rating-total {
    display: none;
  }

  .watchlist-box {
    width: 100vw;
  }

  .watchlist-header {
    height: 10vh;
    display: grid;
    place-items: center;
    background-color: #000000;
    color: white;
  }

  .watchlist-card {
    padding: 1rem;
    background-color: #d8d2d2;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  .watchlist-card-info {
    display: grid;
    row-gap: 1.25rem;
    padding: 0 1rem;
  }

  .watchlist-card img {
    width: 45vw;
    height: 22.5vw;
  }

  .w-remove-button {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    place-self: flex-end;
  }

  /* Top Rated */
  .top-rated {
    display: grid;
    place-items: center;
    position: relative;
    width: 100vw;
  }

  .top-rated-movies-box,
  .top-rated-shows-box {
    display: grid;
    place-items: center;
    color: white;
    font-family: "Lobster", cursive;
    font-size: 2.75rem;
    margin-top: 7.5vw;
  }

  .top-rated-movies,
  .top-rated-shows {
    margin-top: 7.5vw;
  }

  .top-rated-card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Login */

  .login-box {
    top: 25vh;
    display: grid;
    place-items: center;
    row-gap: 5rem;
    width: 100vw;
    overflow: hidden;
  }

  .login-card {
    margin-top: 10rem;
    display: grid;
    place-items: center;
    padding: 2.5rem;
    row-gap: 2.5rem;
    box-shadow: -3px 1px 144px 16px rgba(18, 103, 135, 1);
  }

  .login-title {
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-family: "Lobster", cursive;
  }

  .button-box {
    display: grid;
    place-items: center;
    row-gap: 1rem;
  }

  /* Footer */

  footer {
    display: grid;
    place-items: center;
    margin-top: 5vw;
    width: 100vw;
    padding: 1.25rem;
    min-height: 20vw;
    background-color: #000000;
    color: white;
    overflow: none;
  }

  .social-media {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
  }

  .support {
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
  }

  .support-logo {
    width: 7.5vw;
    height: 7.5vw;
  }
}

@media (min-width: 992px) {
  /* Navbar style */
  .navbar {
    width: 100vw;
    padding: 2.5rem;
    height: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .normal-nav {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    font-size: 1.35rem;
  }

  .mobile-nav {
    display: none;
  }

  #navbar-mobile-closed {
    display: none;
  }

  .logo-title {
    display: flex;
    column-gap: 0.5rem;
    justify-content: space-between;
  }

  .logo {
    font-size: 2.75rem;
    cursor: pointer;
  }

  .title {
    color: aliceblue;
    font-family: "Lobster", cursive;
    font-size: 2.75rem;
    cursor: pointer;
    overflow: hidden;
  }

  .search-bar {
    text-align: center;
    padding: 1.5vh 0;
    width: 30vw;
    border-radius: 1rem;
    border: 0.1rem solid #005866;
    outline-style: none;
    cursor: pointer;
  }

  .search-bar:hover {
    border: 0.15rem solid #005866;
    transition: 0.1s;
  }

  #mobile-avatar {
    display: none;
  }

  .wl-link {
    text-decoration: none;
    color: black;
  }

  .wl-link:hover {
    color: black;
  }

  .button {
    background-color: #005866;
    color: #ffffff;
  }

  .movies:hover,
  .title:hover,
  .tvshows:hover,
  .login:hover,
  .avatar:hover {
    color: #005866;
    opacity: 0.8;
    transition: 0.5s;
  }

  .pagination {
    position: relative;
    margin-top: 2.5vw;
    left: 40%;
    color: white;
  }

  /* Detail-view */

  .d-title {
    margin-left: 1rem;
    font-size: 2rem;
    color: #ffffff;
  }

  .rating-details-mobile {
    display: none;
  }

  .rating-details {
    display: flex;
    width: 40vw;
    justify-content: space-around;
  }

  .bhub-rating-details {
    display: grid;
    place-items: center;
  }

  .bhub-rating {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .d-rating {
    color: #ffffff;
    font-size: 1.5rem;
  }

  .d-rate {
    font-size: 2rem;
    color: #005866;
  }

  .d-ratingno {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .total-score {
    color: #d8d2d2;
    font-size: 1.25rem;
  }

  .total-vote {
    color: #d8d2d2;
    font-size: 1rem;
  }

  .u-rating {
    color: #ffffff;
    font-size: 1.5rem;
  }

  .u-rate {
    color: #005866;
  }

  .rate {
    color: #005866;
    font-size: 1.5rem;
    font-weight: 700;
    outline-style: none;
    background-color: #151513;
    border: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
  }

  .user-rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .d-info {
    color: #d8d2d2;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    column-gap: 1rem;
  }

  .inactive {
    display: none;
  }

  .active {
    display: flex;
  }

  .rating-form {
    position: absolute;
    background-color: #3d3d3b;
    color: #ffffff;
    width: 40vw;
    height: 50vh;
    top: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    left: 30vw;
    overflow: hidden;
  }

  .clear {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
  }

  .rate-this {
    position: absolute;
    top: 5vh;
    color: white;
    font-size: 1.25rem;
  }

  .rating-title {
    position: absolute;
    top: 12.5vh;
    color: white;
    font-size: 1.5rem;
  }

  .rating-value {
    position: absolute;
    top: 20vh;
    width: 22.5vw;
    height: 10vh;
    color: #005866;
  }

  .rate-button {
    position: absolute;
    top: 5vh;
    width: 10vw;
    height: 7.5vh;
  }

  .poster-area {
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }

  .poster-img {
    width: 45vw;
    height: 30vw;
  }

  .similar-genre-area {
    width: 45vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .similar-genre-image {
    width: 15vw;
    height: 10vw;
  }

  .big-screen-watchlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    padding-right: 2.5rem;
  }

  .d-details {
    width: 50vw;
    color: white;
    margin-left: 1rem;
  }

  hr {
    color: white;
  }

  .details-header {
    font-size: 1.25rem;
    color: white;
    font-weight: 700;
    padding: 0 0.25rem;
  }

  .details-name {
    color: white;
    font-weight: 500;
  }

  .director-info {
    display: flex;
    align-items: center;
    gap: 2vw;
  }

  .cast {
    width: 100%;
    display: flex;
  }

  .cast-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .reviews-box {
    width: 50vw;
    margin-left: 1rem;
  }

  .d-reviews {
    width: 50vw;
    display: grid;
    row-gap: 5vh;
  }

  .review-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .review-form textarea {
    width: 40vw;
    height: 7.5vh;
    outline-style: none;
  }

  .review-card {
    position: relative;
    background-color: black;
    width: 50vw;
    padding: 1.5vw 2.5vw;
  }

  .author-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5vw;
    width: 50vw;
    height: 15vh;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .author-avatar {
    width: 5vw;
    height: 5vw;
  }

  .review-content {
    color: white;
    font-weight: 500;
    position: relative;
    width: 45vw;
  }

  /*Watchlist*/

  .watchlist-star {
    font-size: 1.5rem;
    color: #005866;
  }

  .watchlist-rating {
    font-size: 1.25rem;
  }

  .watchlist-rating-total {
    font-size: 1.25rem;
  }

  .watchlist-box {
    width: 100vw;
  }

  .watchlist {
    width: 60vw;
    margin: auto;
  }

  .watchlist-header {
    height: 20vh;
    display: grid;
    place-items: center;
    background-color: #000000;
    color: white;
  }

  .watchlist-card {
    background-color: #d8d2d2;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .watchlist-card img {
    width: 40vw;
    height: 20vw;
  }

  .watchlist-card-info {
    display: grid;
    row-gap: 1.25rem;
    padding: 1rem;
  }

  .w-remove-button {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    place-self: flex-end;
  }

  /* Top Rated */

  .top-rated {
    display: grid;
    place-items: center;
    position: relative;
    width: 100vw;
  }

  .top-rated-movies-box,
  .top-rated-shows-box {
    display: grid;
    place-items: center;
    color: white;
    font-family: "Lobster", cursive;
    font-size: 2.75rem;
    margin-top: 5vw;
  }

  .top-rated-movies,
  .top-rated-shows {
    margin-top: 5vw;
  }

  .top-rated-card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* Login */

  .login-box {
    display: grid;
    place-items: center;
    width: 100vw;
    overflow: hidden;
  }

  .login-card {
    margin-top: 10rem;
    padding: 2.5rem;
    display: grid;
    row-gap: 2.5rem;
    place-items: center;
    box-shadow: -3px 1px 144px 16px rgba(18, 103, 135, 1);
  }

  .login-title {
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-family: "Lobster", cursive;
  }

  .button-box {
    display: grid;
    place-items: center;
    row-gap: 2.5vh;
  }

  /* Footer */

  footer {
    display: grid;
    place-items: center;
    bottom: 0;
    margin-top: 5vh;
    width: 100vw;
    min-height: 20vw;
    background-color: #000000;
    color: white;
    overflow: none;
  }

  .social-media {
    padding: 1.5rem;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
  }

  .support {
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
  }

  .support-logo {
    width: 7.5vw;
    height: 7.5vw;
  }
}

@keyframes navbarExpand {
  from {
    width: 0;
  }
  to {
    width: 45vw;
  }
}

@keyframes navbarCollapse {
  from {
    width: 45vw;
  }
  to {
    width: 0;
  }
}
